body h1{color: #f12f39; font-family: ARIAL; margin-top: 30px; text-shadow: 2px 2px black}
body h2{color: #c7179f; font-family: ARIAL; margin: 30px 20px 20px 0px; text-shadow: 1px 1px black}
body{background-color: #bfe9e4; color: #db1c47; margin: 20px 20px 0px 30px; font-family: "Andale Mono"}
body img {border: 1px solid black;}
a{color: #570155;}
button{background-color:#add8e6; margin-top: 50px; margin-bottom: 50px}
.imgcenter{margin-left: 85px; display: block; border-width: 5px; border-color: black}
.buttoncenter{display: block; margin-left: auto; margin-right: auto; width: 10%; margin-top: 40px}
.homebuttons{display: block; margin-left: auto; margin-right: auto; width: 10%; margin-top: 20px}
.centerh1{text-align: center;}
.centerh2{text-align: center;}
.eastereggbutton{color: #00000000; background-color: #00000000; border:none;
    border: none;
    color: #00000000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
@font-face {
    font-family: 'JetBrains Mono';
    src:url("./JetBrainsMono-2/fonts/ttf/JetBrainsMono-Regular");
}
.jetbrainsmonofont{font-family: 'JetBrains Mono';}