body h1{color: #f12f39; font-family: ARIAL; margin-top: 30px; text-shadow: 2px 2px black}
body h2{color: #649ad8; font-family: ARIAL; text-shadow: 1px 1px black}
body{background-color: #bfe9e4; color: #db1c47; font-family: "Andale Mono"; background-image: url("Minecraft.png");}
body img {border: 1px solid black;}
a{color: #570155;}
button{background-color:#add8e6; margin-top: 50px; margin-bottom: 50px}

@font-face {
    src:url("JetBrainsMono-Regular.ttf");
    font-family: JBfont;
}

body h3{font-family: JBfont; font-style: normal; font-weight: 200;}

.imgcenter{margin-left: 85px; display: block; border-width: 5px; border-color: black;}
.buttoncenter{font-family:JBfont; display: block; margin-left: auto; margin-right: auto; width: 10%; margin-top: 40px}
.homebuttons{font-family: JBfont;display: block; margin-left: auto; margin-right: auto; width: 10%; margin-top: 20px}
.centerh1{text-align: center;}
.centerh2{text-align: center;}
.eastereggbutton{color: #00000000; background-color: #00000000; border:none;
    border: none;
    color: #00000000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.jetbrainsmonofont{font-family: JBfont;}

ul li{list-style: none; display: inline-block; margin:10px}
ul li a{text-decoration: none; color: rgb(0, 43, 100); display: block;}
ul li a:hover{color:rgb(7, 189, 196);}

